$primary: #646cff;
$primaryB: #1a1a1a;
$primaryB2: #323232;


.outletTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        background: $primary;
        padding: 8px 16px;
        font-weight: 600;
    }
}