$primary: #646cff;
$primaryB: #1a1a1a;
$primaryB2: #323232;

.outletTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 16px 0;
    button{
        background: $primary;
        padding: 6px 16px;
        border-radius: 6px;
        font-weight: 600;
    }
}


.formContainerDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 24px;
    gap: 60px 24px;
    .formSub{
        width: 100%;
        height: 20px;
        display: flex;
        gap: 2px;
        flex-direction: column;
        h5{
            font-size: 18px;
            font-weight: 600;
        }
        input{
            padding: 8px;
            font-size: 16px;
        }
        textarea{
            padding: 8px;
        }
    }
    .alamatForm{
        // flex-grow: 2;
        grid-column: span 2 / span 2 !important;
        // grid-column: auto;
    }
    .disabledInput{
        input{
            opacity: 50%;
        }
    }
}

.selectInput{
    color: white !important;
    background-color: $primaryB2 !important;
}

.css-t3ipsp-control{
    color: white !important;
    background-color: $primaryB2 !important;
}

.detailHead{
    background: $primaryB2;
    border-radius: 4px;
    padding: 12px 16px;
}
