$primary: #646cff;
$primaryB: #1a1a1a;
$primaryB2: #323232;


.outletTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 16px 0;
    button{
        background: $primary;
        padding: 8px 16px;
        font-weight: 600;
    }
}

// nputText text-sm w-full mt-4 mb-2
// bg-white p-2 rounded-md border-[1.8px] border-gray-300 focus:border-blue-600 outline-none font-medium;
.filterInput{
    font-size: small;
    // width: 100%;
    // width: max-content;
    margin-top: 16px;
    border-radius: 4px;
    font-weight: 500;
    outline: none;
    border: #1a1a1a solid 1px;
    display: flex;
    input{
        padding: 10px;
        flex-grow: 1;
    }
}