$primary: #646cff;
$primaryB: #1a1a1a;
$primaryB2: #323232;

@mixin containerBase {
  padding: 12px;
  background: $primaryB2;
  border-radius: 4px;
}

@mixin productBase {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.outletTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 16px 0;
  button {
    background: $primary;
    padding: 6px 16px;
    border-radius: 6px;
    font-weight: 600;
    margin-left: 12px;
  }
  div {
    display: flex;
    button {
      display: flex;
      align-items: center;
      gap: 6px;
      svg {
        width: 18px;
      }
    }
  }
}

.formContainerDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 24px;
  gap: 60px 24px;
  .formSub {
    width: 100%;
    height: 20px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    h5 {
      font-size: 18px;
      font-weight: 600;
    }
    input {
      padding: 8px;
      font-size: 16px;
    }
    textarea {
      padding: 8px;
    }
  }
  .alamatForm {
    // flex-grow: 2;
    grid-column: span 2 / span 2 !important;
    // grid-column: auto;
  }
  .disabledInput {
    input {
      opacity: 50%;
    }
  }
}

.selectInput {
  color: white !important;
  background-color: $primaryB2 !important;
}

.css-t3ipsp-control {
  color: white !important;
  background-color: $primaryB2 !important;
}

.detailHead {
  background: $primaryB2;
  border-radius: 6px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .detailHeadSub2 {
    align-items: end;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    h3 {
      font-size: 24px;
    }
    .primaryC {
      font-weight: 700;
      font-size: 20px;
    }
    .stat {
      text-align: center;
      width: max-content;
      font-weight: 600;
      font-size: 14px;
      border-radius: 50px;
      padding: 4px 16px;
    }
  }
}

.detailBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 16px 0;
  gap: 24px;
  .detailSub {
    @include containerBase();
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .detailSub2 {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.detailSubB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  h5 {
    font-weight: 600;
    font-size: 14px;
  }
  p {
    opacity: 80%;
    font-size: 14px;
  }
}

.detailSubH {
  font-size: 19px;
  border-bottom: 1.5px solid rgb(100, 100, 100);
  padding-bottom: 4px;
}

.detailItems {
  @include containerBase();
  display: flex;
  gap: 24px;
  flex-direction: column;
  .detailItem {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    // .productLogo{
    //     @include productBase();
    //     grid-column: span 1/span 1;
    // }
    font-size: 16px;
    .productN {
      grid-column: span 6 / span 5;
      @include productBase();
      gap: 8px;
      font-size: 14px;
    }
    .productQ {
      grid-column: span 1 / span 1;
      font-size: 14px;
      font-weight: 500;
      opacity: 75%;
      @include productBase();
    }
    .productT {
      grid-column: span 5 / span 5;
      text-align: end;
      font-size: 16px;
      font-weight: 500;
      // @include productBase();
    }
  }
}

.detailFinal {
  border-top: 1.5px solid rgb(100, 100, 100);
  padding-top: 12px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.detailFinalSub {
  p {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
}

.lastTotal {
  p {
    font-size: 20px;
    font-weight: 700;
  }
  h5 {
    font-size: 24px;
    font-weight: 700;
  }
}

.oNewContainer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  .oNewL {
    grid-column: span 7 / span 7 !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    // flex-grow: 1;
    .cusSec {
      @include containerBase();
      padding: 16px 20px;
      .cusSecTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          font-size: 14px;
        }
      }
      .oFormContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
        padding-right: 24px;
        .formSub {
          width: 100%;
          display: flex;
          gap: 2px;
          flex-direction: column;
          h5 {
            font-size: 16px;
            font-weight: 600;
          }
          input {
            // width: max-content;
            padding: 4px;
            font-size: 16px;
          }
        }
      }
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .oNewR {
    flex-grow: 2;
    grid-column: span 5 / span 5 !important;
    .cusSec {
      @include containerBase();
      padding: 16px 20px;
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
      .rincianContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 12px 0;
      }
      .rincianSub {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
          font-weight: 500;
          font-size: 16px;
        }
      }
      .rincianSubFinal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 20px;
      }
      button{
        background: $primary;
        font-weight: 700;
      }
    }
  }
}

.oSubTitle {
  h4 {
    font-size: 20px !important;
  }
}

.warner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: #646cff90;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 2px solid $primary;
  font-weight: 600;
}

.outletList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 16px;
  .outletItem{
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    @include containerBase();
    .outletIcon{
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background: #646cff90;
      display: flex;
      border: 2px solid $primary;
      align-items: center;
      justify-content: center;
    }
  }
}
