$primary: #646cff;
$primaryB: #1a1a1a;


.outletTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        background: $primary;
        padding: 8px 16px;
        font-weight: 600;
    }
}


.emptyTable{
    table{
        margin: 16px 0;
        border-bottom: 1px gray solid;
        // background: white;
        background: $primaryB;
        font-size: small;
        width: 100%;
        text-align: left;
        border-radius: 6px 6px 0 0;
        padding: 6px;
    }
    p{
        font-size: small;
        text-align: center;
        opacity: 90%;
        font-weight: 500;
    }
}